<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                        <a data-action="collapse">
                            <i class="ft-minus"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="reload">
                            <i class="ft-rotate-cw"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="expand">
                            <i class="ft-maximize"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="close">
                            <i class="ft-x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="Titulo">Titulo</label>
                                <input type="text" required name="titulo" title="Titulo" value="<?php echo $this->view->obj->titulo ?>" class="form-control round" placeholder="Titulo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="Link Video">Link Video</label>
                                <input type="text" name="url" title="Link Video" value="<?php echo $this->view->obj->url ?>" class="form-control round" placeholder="Link Video">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="sr-only" for="Texto">Texto</label>
                                <textarea name="texto" title="Texto" id="summernote"><?php echo $this->view->obj->texto ?></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-lg-6 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <fieldset class="form-group">
                                        <div class="custom-file">
                                            <input onchange="upload('formcrud')" type="file" class="custom-file-input" name="file" id="file" aria-describedby="fileHelp">
                                            <label class="custom-file-label" for="inputGroupFile01">Escolher imagem de perfil</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <img id="previewimg" src="<?php echo $this->view->obj->imagem <> '' ? $this->view->obj->imagem : '' ?>" style="height: 100px">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                        <div class="col-sm-10">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="ativo" id="ativo" value="a" <?php echo ('a' == $this->view->obj->ativo ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="ativo">Sim</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="ativo" id="ativo2" value="i" <?php echo ('i' == $this->view->obj->ativo ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="ativo2">Não</label>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idinstitucional ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <input type="hidden" name="imagem" id="imgload" value="<?php echo $this->view->obj->imagem ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) { ?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php } ?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
