<?php 
    $this->info()
?>
<title><?php echo $this->titulo_pagina.' | '.$this->datasite->title ?></title>
<meta charset="UTF-8">
<meta name="author" content="">
<meta name="description" content="">
<meta name="robots" content="noarchive">
<meta name="reply-to" content="c">
<meta name="keywords" content="<?php echo $this->seo->keywords ?>">
<meta property="og:locale" content="pt-br">
<meta property="og:url" content="<?php echo $this->url_default_site ?>">
<meta property="og:title" content="<?php echo $this->datasite->title ?>">
<meta property="og:site_name" content="<?php echo $this->datasite->title ?>">
<meta property="og:description" content="<?php echo $this->seo->description ?>">
<meta property="og:image" content="<?php echo $this->datasite->logo ?>">
<link rel="apple-touch-icon" href="/images/logo.png">
<link rel="shortcut icon" type="image/png" href="/images/logo.png">
<link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/assets/fontes/flaticon.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/vendors/css/vendors.min.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/vendors/css/charts/chartist.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/vendors/css/charts/chartist-plugin-tooltip.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/vendors/css/tables/datatable/datatables.min.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/plugins/forms/wizard.css">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/bootstrap-extended.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/colors.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/components.css">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/core/menu/menu-types/vertical-menu.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/core/colors/palette-gradient.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/core/colors/palette-gradient.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/pages/chat-application.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/pages/dashboard-analytics.css">
<!-- END: Page CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/core/menu/menu-types/vertical-menu.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/core/colors/palette-gradient.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/plugins/charts/chartist.css">
<!-- END: Page CSS-->

<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/pages/chat-application.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/app-assets/css/pages/advanced-cards.css">

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/assets/css/style.css">
<!-- END: Custom CSS-->

<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">

<style>
    @media (max-width: 1024px) {

        body.vertical-layout.vertical-menu .content,
        body.vertical-layout.vertical-menu .footer {
            margin-left: 0px;
        }

        body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-container {
            margin-left: 0px;
        }

        body.vertical-layout.vertical-menu.menu-collapsed .content,
        body.vertical-layout.vertical-menu.menu-collapsed .footer {

            margin-left: 0px;

        }

        body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-container {
            margin-left: 0px;
        }

        body.vertical-layout.vertical-menu.menu-expanded .content,
        body.vertical-layout.vertical-menu.menu-expanded .footer {

            margin-left: 0px !important;

        }

        html body .content .content-wrapper {
            padding: 20px 10px;
        }

        .-aux-mobile-1 {
            position: absolute;
            right: 0;
        }

        .fs-mobile {
            font-size: 9px !important;
        }

        .header-navbar .navbar-container ul.nav li>a.nav-link {

            font-size: 9px !important;

        }
    }
</style>