<!-- BEGIN: Vendor JS-->
<script src="<?php echo $this->url_default_template ?>/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="<?php echo $this->url_default_template ?>/app-assets/vendors/js/charts/chartist.min.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/vendors/js/charts/chart.min.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/vendors/js/charts/chartist-plugin-tooltip.min.js" type="text/javascript"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="<?php echo $this->url_default_template ?>/app-assets/js/core/app-menu.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/core/app.js" type="text/javascript"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/pages/dashboard-analytics.js" type="text/javascript"></script>

<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartist/bar/vertical-bar.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartist/bar/stacked-bar.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartist/line/area.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartist/line/line.js" type="text/javascript"></script>
<input type="hidden" id="idhome" value="<?php echo isset($this->view->id) ? '/' . $this->view->id : '' ?>">
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartist/pie/pie.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartist/pie/donut.js" type="text/javascript"></script>

<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/cards/card-advanced.js" type="text/javascript"></script>
<!-- END: Page JS-->

<script src="/templates/common/js/app.js" type="text/javascript"></script>

<script src="<?php echo $this->url_default_template ?>/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/tables/datatables/datatable-basic.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

<!-- BEGIN: Page Vendor JS-->
<script src="<?php echo $this->url_default_template ?>/app-assets/vendors/js/forms/repeater/jquery.repeater.min.js" type="text/javascript"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Page JS-->
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/forms/form-repeater.js" type="text/javascript"></script>
<!-- END: Page JS-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
<script src="app-assets/js/scripts/cards/card-advanced.js" type="text/javascript"></script>

<script src="<?php echo $this->url_default_template ?>/app-assets/vendors/js/extensions/jquery.steps.min.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/vendors/js/pickers/daterange/daterangepicker.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/vendors/js/forms/validation/jquery.validate.min.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/forms/wizard-steps.js" type="text/javascript"></script>

<!-- BEGIN: Page JS-->
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartjs/bar/column.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartjs/bar/bar.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartjs/bar/column-stacked.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartjs/line/line.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartjs/line/line-area.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartjs/pie-doughnut/pie-simple.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartjs/pie-doughnut/doughnut-simple.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartjs/polar-radar/polar.js" type="text/javascript"></script>
<script src="<?php echo $this->url_default_template ?>/app-assets/js/scripts/charts/chartjs/polar-radar/radar.js" type="text/javascript"></script>

<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
<!-- END: Page JS-->
<script>
    $('#summernote').summernote({
        placeholder: 'Insira seu texto aqui',
        tabsize: 2,
        height: 300
    });

    $('.summernote').summernote({
        placeholder: 'Insira seu texto aqui',
        tabsize: 2,
        height: 300
    });
    var mask = {
        money: function() {
            var el = this,
                exec = function(v) {
                    v = v.replace(/\D/g, "");
                    v = new String(Number(v));
                    var len = v.length;
                    if (1 == len)
                        v = v.replace(/(\d)/, "0.0$1");
                    else if (2 == len)
                        v = v.replace(/(\d)/, "0.$1");
                    else if (len > 2) {
                        v = v.replace(/(\d{2})$/, '.$1');
                    }
                    return v;
                };

            setTimeout(function() {
                el.value = exec(el.value);
            }, 1);
        }

    }

    $(function() {
        $('.amount-value-dimdim').bind('keypress', mask.money)
    });
    $(document).ready(function() {
        $('input.time').mask('00:00');
        $('.phone').mask('(00) 0000-0000');
        $('.mobilephone').mask('(00) 00000-0000');
        $('.porcent').mask('P', {
            translation: {
                'P': {
                    pattern: /[\d\.,]/,
                    recursive: true
                }
            },
            onKeyPress: function(val, e, field, options) {
                var old_value = $(field).data('oldValue') || '';

                val = val.trim();
                val = val.replace(',', '.');
                val = val.length > 0 ? val : '0';

                // Transformando múltiplos pontos em um único ponto
                val = val.replace(/[\.]+/, '.');

                // Verificando se o valor contém mais de uma ocorrência de ponto
                var dot_occurrences = (val.match(/\./g) || []).length > 1;

                // Verificando se o valor está de acordo com a sintaxe do float
                var is_float = /[-+]?[\d]*\.?[\d]+/.test(val);

                if (dot_occurrences || !is_float) {
                    val = old_value;
                }

                // Força o valor a ficar no intervalo de 0 à 100
                val = parseFloat(val) >= 100 ? '100' : val;
                val = parseFloat(val) < 0 ? '0' : val;

                $(field)
                    .val(val)
                    .data('oldValue', val);
            }
        });

    });

    i = 0;

    function addline(t) {
        var $tr = $(t);
        var $clone = $tr.clone();
        $tr.before($clone);
        var newid = 'line-' + i;
        $tr.attr('id', newid);

        var combo1 = $("#" + newid + " select#idchannel");
        var combo2 = $("#" + newid + " select#idtier");
        var combo3 = $("#" + newid + " select#idtype");
        var combo4 = $("#" + newid + " select#idcategory");
        var input = $("#" + newid + " input#porcent");
        var button = $("#" + newid + " button#removeLine");

        var add = $("#" + newid + " button#addprod");

        combo1.attr('id', 'idchannel-' + i);
        combo2.attr('id', 'idtier-' + i);
        combo3.attr('id', 'idtype-' + i);
        combo4.attr('id', 'idcategory-' + i);
        input.attr('id', 'porcent-' + i);
        button.attr('id', 'removeLine-' + i);

        combo1.removeAttr('onchange');
        combo3.removeAttr('onchange');

        combo1.attr('onchange', "loadregistercombobox(this, '#" + combo2.attr('id') + "', '/sistema/tiers/load')");
        combo3.attr('onchange', "loadregistercombobox(this, '#" + combo4.attr('id') + "', '/sistema/categories/load')");

        button.attr('onclick', "removeline('#" + newid + "')");

        combo1.val('');
        combo2.val('');
        combo3.val('');
        combo4.val('');
        input.val('');

        add.remove();

        combo2.attr('disabled', 'disabled');
        combo4.attr('disabled', 'disabled');

        i++;
    }

    function removeline(t) {
        $(t).remove();
    }

    function exportplanning() {
        $('#status_response').removeClass('d-none');
        $.ajax({
            type: "POST",
            url: '/sistema/home/exportplanning',
            data: postData,
            dataType: 'json',
            success: function(data) {
                var response = data['response'];
                $('#status_response').addClass('d-none');
                alertmsg(response['mensagem'], response['classe'])

                if (response['result'] == 'error') {
                    return false;
                } else {
                    window.open(response['redirect'], '_blank');
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $('#status_response').addClass('d-none');
                alertmsg('Ocorreu um erro inesperado, por favor tente mais tarde!', 'alert-danger');
                return false;
            }
        });
    }
</script>