<footer id="footer" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 align-self-center">
                <img src="<?php echo $this->url_default_template ?>/assets/images/logo.png" width="120px" class="img-fluid" />
                <p>O IOPEM é um instituto educacional que prepara jovens a partir da 7ª série para ingressar nas Escolas e Academias Militares através dos seus diversos Concursos de Admissão. No mundo moderno, cada vez mais competitivo, as pessoas percebem a importância de se preparar para a construção de seu futuro profissional. </p>
                <ul class="listunstyled list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/iopem.instituto/?ref=br_rs" target="_BLANK"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/iopem.instituto/" target="_BLANK"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCLJKSXQpMVTaK5yMhmLvFJg" target="_BLANK"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>

            <div class="col-lg-5 offset-lg-3">
                <p class="title">Unidade São Miguel - Matriz</p>
                <form id="form-contato-site" action="/contact">
                    <div class="form-group">
                        <div id="status_response_site" class="d-none text-center mt-2 mb-2">
                            <div class="fa-3x">
                                <i class="text-white fas fa-spinner fa-spin"></i>
                            </div>
                        </div>
                        <div class="text-center p-t-115">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="response_site"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="acao" value="contato">
                        <input type="hidden" name="destinatario" id="destinatario" value="6">
                        <input type="hidden" name="nome_destinatario" id="nome_destinatario" value="">
                    </div>

                    <div class="form-group">
                        <input type="text" name="name" required class="form-control" placeholder="Digite seu nome" title="Nome">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" required class="form-control" placeholder="Digite seu e-mail" title="E-mail">
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Digite seu telefone" title="Telefone">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" required rows="5" placeholder="Mensagem" title="Mensagem"></textarea>
                    </div>
                
                    <input type="button" onclick="register('#form-contato-site', '_site')" class="btn-default" value="Enviar mensagem"/>
                </form>
            </div>
        </div>
    </div>
</footer>