<header id="header" >
    <?php  
        $this->loadPage('menu');
        if(isset($this->image)){
            $this->loadPage("top-bar");  
        }else{    
    ?>
        <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content content-cener">
                   <a href="https://www.sympla.com.br/4-evento-em-comemoracao-ao-dia-do-soldado__583184" target="_BLANK">
                    <div class="modal-body mb-0 p-0">
                        <img src="<?php echo $this->url_default_template ?>/assets/images/banner-popup.png" alt="" style="width:100%">
                    </div>
                    <div class="modal-footer">
                       <div><a href="https://www.sympla.com.br/4-evento-em-comemoracao-ao-dia-do-soldado__583184" class="btn btn-outline-primary btn-rounded btn-md ml-4 text-center" target="_blank">Cadastre-se</a></div>
                        <button class="btn btn-outline-primary btn-rounded btn-md ml-4 text-center" data-dismiss="modal" type="button">Fechar</button>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Social Network -->
        <ul class="list-unstyled list-inline-item social">
            <li class="list-inline-item"><a href="https://www.facebook.com/iopem.instituto/?ref=br_rs" target="_BLANK"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/iopem.instituto/" target="_BLANK"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCh2ee4DEXyb5WnBPoXmuhsQ" target="_BLANK"><i class="fab fa-youtube"></i> Youtube</a></li>
        </ul>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <?php foreach($this->banners as $b){ ?>
                <div class="swiper-slide">
                        <div class="container-fluid">
                            <div class="row"> 
                                <div class="col-lg-7 offset-lg-1">
                                    <div class="block-transform">
                                        <h1 class="title-dynamic"><span><?php echo $b->text ?></span><br><?php echo $b->description ?></h1>
                                    </div>
                                </div>

                                <div class="col-lg-4 p-0 position-relative">
                                    <div class="image-soldier" style="background-image: url('<?php echo $b->image ?>');"></div>
                                    <!-- <div id="dots" class="d-none d-md-block">
                                        <div class="dot dot-1 tooltip-demo"  data-toggle="tooltip" data-html="true" title="<iframe width='230' height='150' src='https://www.youtube.com/embed/xx1NvdVPc1Y' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>"></div>
                                        <div class="dot dot-2 tooltip-demo"  data-toggle="tooltip" data-html="true" title="<iframe width='230' height='150' src='https://www.youtube.com/embed/KKQXFH5V2m4' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>"></div>
                                        <div class="dot dot-3 tooltip-demo"  data-toggle="tooltip" data-html="true" title="<iframe width='230' height='150' src='https://www.youtube.com/embed/EdnpMA4nkEY' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>"></div>
                                        <div class="dot dot-4 tooltip-demo"  data-toggle="tooltip" data-html="true" title="<iframe width='230' height='150' src='https://www.youtube.com/embed/fzsLPilbWgg' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>"></div>
                                    </div> -->
                                </div>
                            </div>    
                        </div>
                    </div>
                <?php } ?>
            </div>
            <!-- Add Arrows -->
            <div class="-arrows">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    <?php } ?>
</header>