<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta content="" name="ealize seu sonho e ingresse na carreira militar!" />
<meta content="" name="keywords" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<meta property="og:locale" content="pt_BR">
<meta property="og:url" content="http://www.iopem.com.br">
<meta property="og:title" content="IOPEM - Instituto de Orientação e Preparação para Escolas Militares">
<meta property="og:site_name" content="IOPEM">
<meta property="og:description" content="Realize seu sonho e ingresse na carreira militar!">
<meta property="og:image" content="http://www.iopem.com.br/assets/images/slide-og.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="800"> 
<meta property="og:image:height" content="600"> 
<meta property="og:type" content="website">

<meta name="theme-color" content="#3f4c34">
<title>IOPEM - Instituto de Orientação e Preparação para Escolas Militares</title>
<link rel="icon" type="image/x-icon" href="<?php echo $this->url_default_template ?>/assets/images/favicon.png" />
<link rel="stylesheet" href="<?php echo $this->url_default_template ?>/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
<link rel="stylesheet" href="<?php echo $this->url_default_template ?>/assets/css/app.css" />
<link rel="stylesheet" href="<?php echo $this->url_default_template ?>/assets/fontes/flaticon.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">