
<div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg ">
    <span class="navbar-toggler-icon leftmenutrigger"><i class="flaticon-menu"></i></span>
    <a class="navbar-brand" href="#"><img src="<?php echo $this->url_default_template ?>/assets/images/logo.png" width="70px" alt="IOPEM" title="IOPEM" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="flaticon-menu -icon-mobile"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <!-- sidebar -->
        <ul class="navbar-nav animate side-nav">
            <span class="navbar-toggler-icon leftmenutrigger close"><i class="fas fa-times"></i></span>
            <li class="nav-item -active">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home#sobre">Sobre nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home#cursos">O Curso</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home#unidades">Unidades IOPEM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home#blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/videos">Vídeos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home#footer">Entrar em Contato</a>
            </li>
        </ul>

        <!-- menu -->
        <ul class="navbar-nav nav-sample mr-auto d-md-flex">
            <li class="nav-item -active">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home#sobre">Sobre nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home#cursos">O Curso</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home#unidades">Unidades IOPEM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home#blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/videos">Vídeos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-default" href="/home#footer">Entrar em Contato</a>
            </li>
        </ul>
    </div>
    </nav>
</div>