<!-- <section id="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="title"><span>Quer receber informações</span><br>Cadastre-se em<br>nossa newsletter</h2>
                    </div>

                    <div class="col-lg-6 align-self-center">
                        <form class="form-inline">
                            <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Digite seu email">
                            <button type="submit" class="btn-default mb-2 border-0">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </section> -->