<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="<?php echo $this->url_default_template ?>/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo $this->url_default_template ?>/assets/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="<?php echo $this->url_default_template ?>/assets/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="<?php echo $this->url_default_template ?>/assets/js/app.js"></script>
<script>
    function register(form, px) {
        var postData = $(form).serializeArray();
        var formURL = $(form).attr("action");
        var validate = 0;
        $('#status_response'+px).removeClass('d-none');
        $('form' + form + ' .form-control[required]').each(function () {
            if (!$(this).val()) {
            alertmsg('O campo ' + $(this).attr('title') + ' é obrigatório!', 'alert-danger', px);
            $(this).addClass('is-invalid');
            $('#status_response'+px).addClass('d-none');
            validate++;
            return false;
            }
        });

        if (validate == 0) {
            $.ajax({
            type: "POST",
            url: formURL,
            data: postData,
            dataType: 'json',
            success: function (data) {
                var response = data['response'];
                $('#status_response'+px).addClass('d-none');
                alertmsg(response['mensagem'], response['classe'], px)

                if (response['result'] == 'error') {
                $('.validate-input').each(function () {
                    if ($(this).val() == '') {
                    $(this).addClass('is-invalid');
                    }
                });
                return false;
                } else {
                window.location.replace(response['redirect']);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#status_response'+px).addClass('d-none');
                alertmsg('Ocorreu um erro inesperado, por favor tente mais tarde!', 'alert-danger', px);
                return false;
            }
            });
        }

        }

        function alertmsg(msg, classe, px) {
        $('#status_response'+px).addClass('d-none');
        $('#response'+px).html('<div class="alert-dismissible fade show p-2" role="alert">' + msg + '</div>');
        $('#response'+px).removeClass('alert alert-danger');
        $('#response'+px).removeClass('alert alert-success');
        $('#response'+px).addClass('alert ' + classe);
        $("#response"+px).slideDown();
        setTimeout(function () {
            $("#response").slideUp();
        }, 4000);
        }
    var swiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        autoplay: {
            delay: 3000,
            speed: 800,
            autoplayDisableOnInteraction: false,
        }, 
    });

    var mySwiper = document.querySelector('.swiper-container').swiper

    $(".swiper-container").mouseenter(function() {
        mySwiper.autoplay.stop();
    });

    $(".swiper-container").mouseleave(function() {
        mySwiper.autoplay.start();
        console.log('slider started again');
    });
            

    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
    });

    function loadModal(email, idunidade){
        var title = $(idunidade).text();
        $( '#load-form' ).load( '/form-units?email='+email+'&title='+ encodeURIComponent(title));
    }

</script>