<div class="top-bar" style="background: <?php if(!isset($this->removetitle)){ ?>linear-gradient(rgba(69, 77, 56, 0.9), rgba(69, 77, 56, 0.9)),<?php } ?> url('<?php echo $this->image ?>') no-repeat top ;" >
    <?php if(!isset($this->removetitle)){ ?><h1 class="title"><?php echo $this->title_post?></h1><?php } ?>
</div>