<!DOCTYPE html>
<html lang="en">
    <head>
        <?php include("includes/head.php") ?>
    </head>
    <body>
        <header id="header" >
            <?php include("includes/menu.php") ?>
            <?php
            $title = "Vídeos IOPEM";
            $image = "iopem.jpg";
            include("includes/top-bar.php") ?>
        </header>

        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-4">
                    <iframe width="100%" height="190" src="https://www.youtube.com/embed/e8sT1h6LKbU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4">
                    <iframe width="100%" height="190" src="https://www.youtube.com/embed/pjch6tusGmU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4">
                    <iframe width="100%" height="190" src="https://www.youtube.com/embed/9yizmyazYuM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-4">
                    <iframe width="100%" height="190" src="https://www.youtube.com/embed/90uwqpVPQEY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4">
                    <iframe width="100%" height="190" src="https://www.youtube.com/embed/jY7CZ_Gb_HU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4">
                    <iframe width="100%" height="190" src="https://www.youtube.com/embed/8Q1_q4qtibw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-4">
                    <iframe width="100%" height="190" src="https://www.youtube.com/embed/Bxb1-RXR2LE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4">
                    <iframe width="100%" height="190" src="https://www.youtube.com/embed/VLtgTUI_pEw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4">
                    <iframe width="100%" height="190" src="https://www.youtube.com/embed/37bIq0X45nQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-4">
                    <iframe width="100%" height="190" src="https://www.youtube.com/embed/9oIhB86dN8c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
            </div>
        </div>
        
        <?php include("includes/newsletter.php") ?>
        <?php include("includes/footer.php") ?>
    </body>
    <?php include("includes/scripts.php") ?>
</html>