a{
    text-decoration: none!important;
    font-size: 14px;
    &:hover{
        color: $white;
    }
}

h1,h2,h3{
    font-family: 'gotham-ultra'!important;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.-color{
    color: $green-light;
}

.mt-negative{
    margin-top: -260px;
}

@media(max-width: 1300px){
    .mt-negative{
        margin-top: 0px!important;
    }
  }

.tooltip.show {
    opacity: 1!important;
    margin-top: 11px;
}

.tooltip-inner {
    max-width: 100%!important;
    padding: 5px 10px 0px 11px!important;
    border-radius: 0!important;
    background-color: $green-dark!important;
    border-top: 5px solid $green-dark;
    border-bottom: 5px solid $green-dark;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: $green-dark!important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: $green-dark!important;
}

.block-transform{
    -moz-transform: skew(0deg, -14deg);
    -webkit-transform: skew(0deg, -14deg);
    -o-transform: skew(0deg, -14deg);
    -ms-transform: skew(0deg, -14deg);
    transform: skew(0deg, -14deg);
}

.title-dynamic{
    font-family: 'gotham-ultra';
    text-transform: uppercase;
    color: $green-dark;
    font-size: 5.5em;
    line-height: 75px;
    background-image: url("../images/bg-text.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 90px;
    
    span{
        font-family: 'have-heart-one';
        text-transform: initial;
        -webkit-text-fill-color: $green-dark;
        background-image: linear-gradient($green-dark, $green-dark);
        -webkit-background-clip: text;
        font-size: 1.3em;
    }
}



.btn-slide{
    background-color: $green-dark;
    padding: 15px 25px;
    color: $white;
    display: inline-block;
    border-radius: 80px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    &:hover{
        color: $white;
        background-color: $green-light;
    }
}



.btn-default{
    background-color: $green-dark;
    padding: 9px 25px!important;
    color: $white!important;
    display: inline-block!important;
    border-radius: 80px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    &:hover{
        background-color: $green-light;
    }
}

.bg-dynamic-menu{
    background-image: url("../images/bg-menu-scroll.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-color: $white;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-box-shadow: 0px -2px 39px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px -2px 39px 0px rgba(0,0,0,0.34);
    box-shadow: 0px -2px 39px 0px rgba(0,0,0,0.34);
}

@media(max-width: 1400px){
    .bg-dynamic-menu{
        background-position: 115px;
    }
  }

.color-dynamic-menu{
    color: $white;
  }

.box-team{
    background-image: url("../images/bg-team.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $green-dark;
    border-radius: 25px;
    position: relative;

    .name{
        color: $white;
        font-weight: 700;
        z-index: 2;
        line-height: 15px;
        position: relative;
        span{
            font-weight: normal;
        }
    }

    .logo-team{
        z-index: 2;
        position: relative;
    }

    .overlay{
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(1,1,1,0) 0%, rgba(64,73,52,1) 75%, rgba(85,97,69,1) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 20%,rgba(1,1,1,0) 0%,rgba(64,73,52,1) 75%,rgba(85,97,69,1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(1,1,1,0) 0%,rgba(64,73,52,1) 75%,rgba(85,97,69,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#556145',GradientType=0 );
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        padding: 0;
        border-radius: 0 0 25px 25px;
    }
}

@media(max-width: $screen-xs-max){
    .mt-negative{
        margin-top: 0;
    }
    .title-dynamic{
        font-size: 2.5em;
        line-height: 35px;
        margin-top: 90px;
        text-align: center;
    }
    .bg-dynamic-menu{
        background-image: none;
        background-color: $green-dark;
        
    }
    .btn-slide{
        margin: 0 auto;
        text-align: center;
        display: block;
        width: 190px;
    }

    .box-team{
        text-align: center;
        .name{
            margin: 0 auto;
            font-size: 18px;
            line-height: 18px;
        }
    
        .logo-team{
            margin-bottom: 15px;
        }
    }
}