/*Colors*/
$white: #fff;
$gray: #292929;
$green-dark: #454d38;
$green-light: #56633b;

/*Fonts*/
@font-face {
    font-family: 'gotham-ultra';
    src: url('../fontes/gotham-ultra.otf');
}

@font-face {
    font-family: 'gotham-book';
    src: url('../fontes/gotham-book.otf');
}


@font-face {
    font-family: 'have-heart-one';
    src: url('../fontes/have-heart-one.otf'); 
}

/*Bootstrap*/
$font-family-sans-serif:      'Open Sans', sans-serif !default;
$font-family-monospace:       'Open Sans', sans-serif !default;
$font-family-base:            $font-family-sans-serif !default;

/*responsive dynamic system*/
//== Media queries breakpoints

// Extra small screen / phone
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

// Small screen / tablet
$screen-sm:                  850px;
$screen-sm-min:              $screen-sm;

// Medium screen / desktop
$screen-md:                  1024px;
$screen-md-min:              $screen-md;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$screen: "only screen";
$xs-up: $screen;
$xs-only: "#{$screen} and (max-width: #{$screen-xs-max})";

$sm-up: "#{$screen} and (min-width: #{$screen-sm-min})";
$sm-only: "#{$screen} and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";

$md-up: "#{$screen} and (min-width: #{$screen-md-max})";
$md-only: "#{$screen} and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";

$lg-up: "#{$screen} and (min-width: #{$screen-lg-min})";