/*Colors*/
/*Fonts*/
@font-face {
  font-family: 'gotham-ultra';
  src: url("../fontes/gotham-ultra.otf"); }
@font-face {
  font-family: 'gotham-book';
  src: url("../fontes/gotham-book.otf"); }
@font-face {
  font-family: 'have-heart-one';
  src: url("../fontes/have-heart-one.otf"); }
/*Bootstrap*/
/*responsive dynamic system*/

/*# sourceMappingURL=variables.css.map */
