<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                        <a data-action="collapse">
                            <i class="ft-minus"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="reload">
                            <i class="ft-rotate-cw"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="expand">
                            <i class="ft-maximize"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="close">
                            <i class="ft-x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-12 align-self-center">
                                <div class="padding-dynamic-table-3">
                                    <div class="info">
                                        <a href="#." class="<?php echo $this->view->class_btn ?> text-white" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-reply"></i> <?php echo $this->view->label ?></a>
                                    </div>
                                    <div class="row">
                                        <div class="text-block mt-4 col-md-4">
                                            <h6 class="text-bold text-uppercase font-weight-bold">Data Contato</h6>
                                            <p><?php echo $this->view->obj->date_create ?></p>
                                        </div>
                                        <div class="text-block mt-4 col-md-4">
                                            <h6 class="text-bold text-uppercase font-weight-bold">Unidade</h6>
                                            <p><?php echo $this->view->obj->unit->title ?></p>
                                        </div>
                                        <div class="text-block mt-4 col-md-4">
                                            <h6 class="text-bold text-uppercase font-weight-bold">Nome</h6>
                                            <p><?php echo $this->view->obj->name ?></p>
                                        </div>
                                        <div class="text-block mt-4 col-md-4">
                                            <h6 class="text-bold text-uppercase font-weight-bold">E-mail</h6>
                                            <p><?php echo $this->view->obj->email ?></p>
                                        </div>
                                        <div class="text-block mt-4 col-md-4">
                                            <h6 class="text-bold text-uppercase font-weight-bold">Telefone</h6>
                                            <p><?php echo $this->view->obj->phone ?></p>
                                        </div>
                                        <div class="text-block mt-4 col-md-4">
                                            <h6 class="text-bold text-uppercase font-weight-bold">Assunto</h6>
                                            <p><?php echo $this->view->obj->subject ?></p>
                                        </div>
                                        <div class="text-block mt-4 col-md-12">
                                            <h6 class="text-bold text-uppercase font-weight-bold">mensagem</h6>
                                            <p><?php echo $this->view->obj->text ?></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-bold" id="exampleModalLabel">Responder</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="" class="form-register">
            <textarea class="form-control textarea-register" placeholder="Digite aqui a descrição da página" id="message_box" rows="7"></textarea>
            </form>
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn-gold-outline border-0" data-dismiss="modal">Cancelar</button> -->
            <button onclick="send()" type="button" class="btn-primary btn border-0">Enviar mensagem</button>
        </div>
        </div>
    </div>
</div>
<!-- <a href="mailto:<?php echo $this->view->obj->email ?>?subject=Resposta do Contato&body=<?php echo $this->view->obj->text ?>" class="btn-gold border-0">
  <?php echo $this->view->label ?>
</a> -->
<script type="text/javascript">
    function send(){
      window.location.href = "mailto:<?php echo $this->view->obj->email ?>?subject=Resposta do Contato&body="+$('#message_box').val()+'%0A%0AResposta do contato: %0A<?php echo $this->view->obj->text ?>%0A%0A';
    }
</script>