<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title"><span>Bem-vindo</span><br/> ao blog IOPEM</h1>
            </div>
        </div>
        <div class="row mt-4">
            <?php foreach($this->view->blogs as $b){ ?>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="<?php echo $b->image ?>" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">
                                <span>
                                    <?php 
                                        $envio = strtotime($b->posting_date);
                                        $mes = date("m", $envio);
                                        
                                        echo date("d", $envio).' de '.$this->returnmonth((int) $mes).' '.date("Y", $envio)
                                    ?>
                                </span><br>
                                <?php echo $b->title ?>
                            </h5>
                            <p class="card-text"><?php echo $b->resume ?>...</p>
                            <a href="/blog/<?php echo $this->url_generate($b->title) ?>/<?php echo $b->idblog ?>" class="btn-blog float-right">Ver mais</a>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination float-right">
                        <?php if($this->view->paginacao > 1){?>
                            <li class="page-item">
                                <a class="page-link" href="/blog/<?php echo $this->view->paginacao ?>" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                            </li>
                        <?php } ?>
                        <?php

                        $pags = ceil($this->view->total/$this->view->registros);

                        for($i = $this->view->paginacao; $i < $this->view->paginacao + $this->view->max_links; $i++) {
                            if ($i <= $pags){ ?>
                                <li class="page-item <?php if($this->view->paginacao == $i){echo 'active';} ?>"><a class="page-link" <?php if($this->view->paginacao == $i){?> href="#" <?php }else{ ?>href="/blog/<?php echo $i ?>"<?php } ?>><?php echo $i ?></a></li>
                        <?php }
                        } ?>

                        <?php
                        if($this->view->paginacao < $pags){ ?>
                            <li class="page-item"><a class="page-link" href="/blog/<?php echo $this->view->paginacao ?>"><i class="fas fa-chevron-right"></i></a></li>
                        <?php }?>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- <div class="row mt-4">
            <div class="container">
                <div class="col-lg-12 text-center">
                    <a href="#." class="btn-default">Ver todas as notícias</a>
                </div>
            </div>
        </div> -->
    </div>
</section>