<section id="blog-details">
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-12">
                <h3 class="title"><?php echo $this->view->obj->title ?></h1>
                <img src="<?php echo $this->view->obj->image ?>" class="img-fluid mt-3"/><br>
                <?php echo $this->view->obj->text ?>
            </div>
        </div>
    </div>
</section>

<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title"><span>Outras </span><br/>Notícias do IOPEM</h1>
            </div>
        </div>
        <div class="row mt-4">
            <?php foreach($this->view->blogs as $b){ ?>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="<?php echo $b->image ?>" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">
                                <span>
                                    <?php 
                                        $envio = strtotime($b->posting_date);
                                        $mes = date("m", $envio);
                                        
                                        echo date("d", $envio).' de '.$this->returnmonth((int) $mes).' '.date("Y", $envio)
                                    ?>
                                </span><br>
                                <?php echo $b->title ?>
                            </h5>
                            <p class="card-text"><?php echo $b->resume ?>...</p>
                            <a href="/blog/<?php echo $this->url_generate($b->title) ?>/<?php echo $b->idblog ?>" class="btn-blog float-right">Ver mais</a>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>

        <div class="row mt-4">
            <div class="container">
                <div class="col-lg-12 text-center">
                    <a href="/blog" class="btn-default">Ver todas as notícias</a>
                </div>
            </div>
        </div>
    </div>
</section>