/* ================================================================================================
// 	File Name: style.scss
// 	Description: Style for customization.
// 	----------------------------------------------------------------------------------------------
// 	Item Name: Chameleon Admin - Modern Bootstrap 4 WebApp & Dashboard HTML Template + UI Kit
// 	Version: 1.0
// 	Author: ThemeSelection
// 	Author URL: https://themeselection.com/
// ================================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

$gray: #2a2a2a; 
$blue: #6b6f80; 
$white: #fff; 

/*responsive dynamic system*/
//== Media queries breakpoints

// Extra small screen / phone
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

// Small screen / tablet
$screen-sm:                  850px;
$screen-sm-min:              $screen-sm;

// Medium screen / desktop
$screen-md:                  1024px;
$screen-md-min:              $screen-md;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$screen: "only screen";
$xs-up: $screen;
$xs-only: "#{$screen} and (max-width: #{$screen-xs-max})";

$sm-up: "#{$screen} and (min-width: #{$screen-sm-min})";
$sm-only: "#{$screen} and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";

$md-up: "#{$screen} and (min-width: #{$screen-md-max})";
$md-only: "#{$screen} and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";

$lg-up: "#{$screen} and (min-width: #{$screen-lg-min})";

.list-categories-icons{
    li{
        margin: 0 15px;
        a{
            font-size: 2em;
            color: $gray;
        }
    }
}

.card{
    .card-content{
        a{
            color: $blue;
        }
    }
}

.title-permormance{
    font-size: 20px;
}

.-card{
  i{
    font-size: 23px!important;
  }

  h1{
    font-size: 20px;
  }
}

.icon-permormance{
    font-size: 2em;
}

.-perf{
  h1{
    font-size: 18px;
  }
}
.title{
  color: $white;
}
.box{
  /* position: fixed; */
  left: 0;
  top: 0;
  background-color: $gray;
  padding: 15px;
  height: 100vh;

  .seasons{
    height: 15%;
    padding: 15px 0;
    p{
      margin: 0;
      color: $white;
      &:nth-child(1){
        font-weight: bold;
        font-size: 18px;
      }

      &:nth-child(2){
        font-weight: normal;
        color: rgb(0,176,240);
        font-size: 14px;
      }

      &:nth-child(3){
        font-weight: normal;
        font-size: 14px;
      }

      i{
        color: rgb(146,208,80);
      }
    }
  }
}

@media(max-width: $screen-xs-max){
  .box{
    position: relative;
  }
}

@media (min-width: 992px) {
    body.vertical-layout.vertical-menu .main-menu {
      width: 260px; }
    body.vertical-layout.vertical-menu .navbar-header {
      width: 260px; }
    body.vertical-layout.vertical-menu .content,
    body.vertical-layout.vertical-menu .footer {
      margin-left: 0; }
    body.vertical-layout.vertical-menu.menu-flipped .content {
      margin: 0;
      margin-right: 260px; }
    body.vertical-layout.vertical-menu.menu-flipped .navbar-header {
      float: right; }
    body.vertical-layout.vertical-menu.menu-flipped .navbar .navbar-container {
      margin: 0;
      margin-right: 260px; }
    body.vertical-layout.vertical-menu.menu-flipped .footer {
      margin: 0;
      margin-right: 260px; } }