<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145147603-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145147603-1');
</script>

<div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Contato Unidade <?php echo isset($_GET["title"]) ? $_GET["title"] : "" ?></h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body mx-3" >
    <form class="mt-3" id="form-contato" action="/contact">
        <div class="form-group">
            <div id="status_response_modal" class="d-none text-center mt-2 mb-2">
                <div class="fa-3x">
                    <i class="text-dark fas fa-spinner fa-spin"></i>
                </div>
            </div>
            <div class="text-center p-t-115">
                <div class="row">
                    <div class="col-md-12">
                        <div id="response_modal"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="hidden" name="acao" value="contato">
            <input type="hidden" name="destinatario" id="destinatario" value="<?php echo isset($_GET["email"]) ? $_GET["email"] : "0" ?>">
            <input type="hidden" name="nome_destinatario" id="nome_destinatario" value="<?php echo isset($_GET["title"]) ? $_GET["title"] : "" ?>">
        </div>

        <div class="md-form mb-2">
            <input type="text" title="Nome" name="name" class="form-control" placeholder="Digite seu nome" required/>
        </div>

        <div class="md-form mb-2">
            <input type="email" title="E-mail" name="email" class="form-control" placeholder="Digite seu e-mail" required/>
        </div>

        <div class="md-form mb-2">
            <input type="text" title="Assunto" id="form32" name="subject" class="form-control" placeholder="Assunto" required/>
        </div>

        <div class="md-form">
            <textarea type="text" title="Mensagem" name="message" class="md-textarea form-control" rows="4" placeholder="Mensagem" required></textarea>
        </div>

        <div class="modal-footer d-flex justify-content-center">
            <input type="button" onclick="register('#form-contato', '_modal')" class="btn btn-success" value="Enviar mensagem"/>
        </div>
    </form>
    </div>

