<section id="sobre">
           <div class="container-fluid">
                <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalvideo" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body mb-0 p-0">
                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                    <iframe allowfullscreen class="embed-responsive-item" src="<?php echo $this->view->about->url ?>"></iframe>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn-default border-0  ml-4 text-center" data-dismiss="modal" type="button">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>

               <div class="row">
                   <div class="col-lg-3  position-relative">
                        <div class="box-soldier" style="background-image: url('<?php echo $this->view->about->imagem ?>');">
                            <a href="#." class="video" data-toggle="modal" data-target="#modalvideo">
                                <i class="flaticon-play-button"></i>
                            </a>
                        </div>
                   </div>
                   <div class="col-lg-6 offset-lg-2">
                       <div class="row mt-5">
                           <?php echo $this->view->about->texto ?>
                       </div>
                   </div>
               </div>
           </div>
        </section>
        
        <section id="equipe">
            <div class="container">
                <div class="row mt-negative">
                    <?php foreach($this->view->team as $t){ ?>
                    <div class="col-lg-3 ">
                        <div class="position-relative box-team">
                            <img src="<?php echo $t->image ?>" class="img-fluid" />
                            <div class="row">
                                <div class="col-lg-6 offset-lg-1 d-flex align-items-center"><p class="name"><?php echo $t->title ?><br><span><?php echo $t->office ?></span></p></div>
                                <div class="col-lg-4"><img src="<?php echo $this->url_default_template ?>/assets/images/logo.png" class="img-fluid logo-team" /></div>
                            </div>
                            <div class="overlay"></div>
                        </div>
                    </div>
                    <?php } ?>
                </div>
            </div>
        </section>

        <section id="cursos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="title"><span>Conheça as academias</span><br>das quais você poderá ingressar</h1>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 p-0">
                        <a href="http://www.eb.mil.br/" target="_BLANK">
                            <div class="box">
                                <div class="-exercito"></div>
                                <div class="text-center text">
                                    <img src="<?php echo $this->url_default_template ?>/assets/images/logo-exercito.png"/>
                                    <div class="skew">
                                        <h2 class="title-course">Exército</h2>
                                        <p class="m-0"><span>Você pode mais</span><br>Concursos para exército 2019</p>
                                    </div>
                                    <div class="overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 p-0">
                        <a href="https://www.marinha.mil.br/ensino/" target="_BLANK">
                            <div class="box">
                                <div class="-marinha"></div>
                                <div class="text-center text">
                                    <img src="<?php echo $this->url_default_template ?>/assets/images/logo-marinha.png"/>
                                    <div class="skew">
                                        <h2 class="title-course">marinha</h2>
                                        <p class="m-0"><span>Você pode mais</span><br>Concursos para marinha 2019</p>
                                    </div>
                                    <div class="overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 p-0">
                        <a href="http://www.fab.mil.br/index.php" target="_BLANK">
                            <div class="box">
                                <div class="-aeronautica"></div>
                                <div class="text-center text">
                                    <img src="<?php echo $this->url_default_template ?>/assets/images/logo-aeronautica.png"/>
                                    <div class="skew">
                                        <h2 class="title-course">Aeronáutica</h2>
                                        <p class="m-0"><span>Você pode mais</span><br>Concursos para aeronáutica 2019</p>
                                    </div>
                                    <div class="overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 p-0">
                        <a href="http://www.policiamilitar.sp.gov.br/" target="_BLANK">
                            <div class="box">
                                <div class="-policia"></div>
                                <div class="text-center text">
                                    <img src="<?php echo $this->url_default_template ?>/assets/images/logo-policia.png"/>
                                    <div class="skew">
                                        <h2 class="title-course"><span>Forças</span><br>Auxiliares</h2>
                                        <p class="m-0"><span>Você pode mais</span><br>Concursos para forças auxiliares 2019</p>
                                    </div>
                                    <div class="overlay"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="unidades">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 align-self-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="title d-xs-block d-sm-block d-lg-none">Unidades IOPEM</h1>
                            </div>
                        </div>
                        <div class="row">
                            <?php for ($i=0; $i < 8; $i++) { ?>
                                <div class="col-lg-4">
                                    <div class="d-flex align-items-start flex-column bd-highlight mb-3 box -image-01">
                                        <div class="mb-auto p-2 bd-highlight"><span class="font-weight-bold" id="unidade<?php echo $this->view->units[$i]->idunits ?>"><?php echo $this->view->units[$i]->locate ?></span><br><span><?php echo $this->view->units[$i]->type ?></span></div>
                                        <div class="p-2 bd-highlight font-weight-bold"><?php echo $this->view->units[$i]->title ?></div>
                                        <div class="p-2 bd-highlight"><?php echo $this->view->units[$i]->address ?><br><br><span class="phone"><?php echo $this->view->units[$i]->phone ?><br><?php echo $this->view->units[$i]->phone_add ?></span></div>
                                        <div class="p-2 bd-highlight"><a href="#." class="btn-contato" onclick="loadModal('<?php echo $this->view->units[$i]->idunits ?>', '#unidade<?php echo $this->view->units[$i]->idunits ?>')" data-toggle="modal" data-target="#modalCampinas">Contato</a></div>
                                    </div>
                                </div>
                            <?php } ?>
                        </div>


                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <img src="<?php echo $this->url_default_template ?>/assets/images/logo.png" class="img-fluid"/>   
                                    </div>
                                    
                                    <div class="col-lg-5 d-flex align-items-center">
                                        <h3 class="hashtag">#OrgulhoDeSer<span class="text-uppercase">iopem</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>  

                        <div class="row">
                            <div class="col-lg-11 mt-2">
                                <p><b>Abraçamos todos os nossos alunos para que exista a família IOPEM.</b><br> Assim, nos tornamos uma rede de apoio a todos que precisam de estímulo para transformar o sonho em realidade.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="iopem-unidades">
                            <img src="<?php echo $this->url_default_template ?>/assets/images/image-unidades.png" class="img-fluid "/>
                        </div>
                    </div>
                </div>

                <!-- unidades licenciadas -->
                <div class="row mt-5">
                    <div class="col-lg-5 align-self-center">
                        <div class="iopem-unidades-licenciadas">
                            <img src="<?php echo $this->url_default_template ?>/assets/images/image-unidades-licenciadas.png" class="img-fluid "/>
                        </div>
                    </div>

                    <div class="col-lg-7 align-self-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="title d-xs-block d-sm-block d-lg-none">Unidades IOPEM Licenciadas</h1>
                            </div>
                        </div>

                        <div class="row">
                            <?php for ($i = 8; $i < count($this->view->units); $i++) {?>
                                <div class="col-lg-4">
                                    <div class="d-flex align-items-start flex-column bd-highlight mb-3 box -image-01">
                                        <div class="mb-auto p-2 bd-highlight"><span class="font-weight-bold" id="unidade<?php echo $this->view->units[$i]->idunits ?>"><?php echo $this->view->units[$i]->locate ?></span><br><span><?php echo $this->view->units[$i]->type ?></span></div>
                                        <div class="p-2 bd-highlight font-weight-bold"><?php echo $this->view->units[$i]->title ?></div>
                                        <div class="p-2 bd-highlight"><?php echo $this->view->units[$i]->address ?><br><br><span class="phone"><?php echo $this->view->units[$i]->phone ?><br><?php echo $this->view->units[$i]->phone_add ?></span></div>
                                        <div class="p-2 bd-highlight"><a href="#." class="btn-contato" onclick="loadModal('<?php echo $this->view->units[$i]->idunits ?>', '#unidade<?php echo $this->view->units[$i]->idunits ?>')" data-toggle="modal" data-target="#modalCampinas">Contato</a></div>
                                    </div>
                                </div>
                            <?php }?>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="counter-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <span class="counter unidades"><?php echo count($this->view->units)-1 ?></span>
                    </div>
                    <div class="col-lg-3">
                        <span class="counter alunos"><?php echo $this->datasite['config']->students ?></span>
                    </div>

                    <div class="col-lg-6 offset-lg-1">
                        <h1 class="title">Faça parte<br>da família</h1>
                    </div>
                </div>
            </div>
        </section>

        <section id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="title"><span>Bem-vindo</span><br/> ao blog IOPEM</h1>
                    </div>
                </div>
                <div class="row mt-4">
                    <?php foreach($this->view->blogs as $b){ ?>
                        <div class="col-lg-4">
                            <div class="card">
                                <img src="<?php echo $b->image ?>" class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <span>
                                            <?php 
                                                $envio = strtotime($b->posting_date);
                                                $mes = date("m", $envio);
                                                
                                                echo date("d", $envio).' de '.$this->returnmonth((int) $mes).' '.date("Y", $envio)
                                            ?>
                                        </span><br>
                                        <?php echo $b->title ?>
                                    </h5>
                                    <p class="card-text"><?php echo $b->resume ?>...</p>
                                    <a href="/blog/<?php echo $this->url_generate($b->title) ?>/<?php echo $b->idblog ?>" class="btn-blog float-right">Ver mais</a>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                </div>

                <div class="row mt-4">
                    <div class="container">
                        <div class="col-lg-12 text-center">
                            <a href="/blog" class="btn-default">Ver todas as notícias</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>