<!DOCTYPE html>
<html lang="pt-br">
    <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145147603-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145147603-1');
</script>
        <?php $this->loadPage('head') ?>
        <style>
            .page-item.active .page-link {
                z-index: 1;
                color: #fff;
                background-color: #454d38;
                border-color: #454d38;
            }

            .page-link {
                color: #454d38;
            }

            .page-link:hover {
                color: #454d38;
            }
        </style>
    </head>
<script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/2c598651-acfe-4c81-a8dd-ca1f17dbe715-loader.js" ></script>
    <body>
        

        <?php $this->loadPage('header') ?>
        
        <?php $this->content(); ?>

        <?php $this->loadPage('modal') ?>
        <?php $this->loadPage('newsletter') ?>
        <?php $this->loadPage('footer') ?>
    </body>
    <?php $this->loadPage('scripts') ?>
    <script>
    $( document ).ready(function() {
        $('#modalIMG').modal('show');
    });
    </script>
</html>